<div class="container m-auto p-4 min-h-[80vh] flex flex-col justify-center">
    <h3 class="text-3xl mb-5">Página de información</h3>
    <p class="md:w-1/2">Esta es solo una página de información para comprobar el funcionamiento del estado en la aplicación y el routing de una SPA (Single Page Application o Aplicación de una sola página)</p>
    <h4 class="font-bold text-xl mt-10">Construido usando:</h4>
    <ul class="list-disc pl-7">
        <li>Angular</li>
        <li>TaildindCSS</li>
        <li>Axios</li>
        <li>MongoDB</li>
        <li>NodeJS</li>
        <li>Express</li>
    </ul>
</div>
